<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Emoji Smuggle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmojiSmuggle"
        android:name=".EmojiSmuggleApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Emoji Smuggle"
            android:theme="@style/Theme.EmojiSmuggle.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityAliasCyber"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cyber"
            android:roundIcon="@mipmap/ic_launcher_cyber_round"
            android:label="Emoji Smuggle"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasStealth"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_stealth"
            android:roundIcon="@mipmap/ic_launcher_stealth_round"
            android:label="Emoji Smuggle"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasSunset"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sunset"
            android:roundIcon="@mipmap/ic_launcher_sunset_round"
            android:label="Emoji Smuggle"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ProcessTextActivity"
            android:label="Encode with Emoji Smuggle"
            android:theme="@style/Theme.EmojiSmuggle.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProcessTextDecodeActivity"
            android:label="Decode with Emoji Smuggle"
            android:theme="@style/Theme.EmojiSmuggle.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShareActivity"
            android:label="Emoji Smuggle Share"
            android:theme="@style/Theme.EmojiSmuggle.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".FloatingBubbleService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
